// Enter any custom Sass in this file.

body{
	background: white;
}
td{
	word-break: break-all;
}
header {
	background: #fff url(../img/newbg.png) bottom left repeat-x;
	.container {
		padding-top: 20px;
		min-height: 113px;
		.navbar-default {
			border: none;
		}
	}
}

.breadcrumb {
	margin-bottom: 15px;
	a {
		color: darken(#337ab7, 10%);
		// text-decoration: underline;
	}
	&>.active {
		display: inline;
		color: black;
	}
}

body.contrast-high {
	.breadcrumb {
		background: $breadcrumbs-backgroundColor-highContrast;
		li, a {
			color: $breadcrumbs-color-highContrast;
		}
		a:hover {
			color: $color-highlight-highContrast;
		}
		> li + li::before {
			border-color: $breadcrumbs-color-highContrast;
		}
	}
}

@for $i from 1 through length($goal-banner-backgroundColors) {
	$background-c: nth($goal-banner-backgroundColors, $i);
	.goal-#{$i} {
		padding-top: 10px;
                padding-bottom: 10px;
		&.goal-banner {
			background-color: $background-c;
		}
	}
}

.goal-banner {
	h1, p {
		color: white;
	}
	.goal-icon {
		a:focus {
			outline: 6px $focusOutlineColor solid !important;
		}
	}
}

#main-content #selectionChartFooter {
  font-size: 14px;
  line-height: 1.2;
  padding-left: 20px; }
#main-content {
	padding-bottom: 120px;
}
#shareBtnContainer { width: 100%; text-align: center; margin: 0 auto 64px auto; z-index: 1; }
.shareBtn {
	cursor: pointer;
	display: inline-block; clear: none; text-align: center;
	width:36px; height:36px; margin: 4px 4px;
	background-repeat:no-repeat; background-size: 576px 576px !important;
}

@media screen and (max-width: 498px) {
	.article-share {  text-align: center; }
	.article-share button { display: block; width: 40px; height: 40px; border-radius: 5px; font-size: 18px;  margin: 5px 1px; float: left;}

}
@media screen and (min-width: 1280px) {
	.article-share {  right: calc(50% - 430px - 38px - 160px + 2px); margin: 0;position: fixed; top: 420px; opacity: 1; z-index: 1;  width: 40px; }
	.article-share button { display: block; width: 40px; height: 40px; border-radius: 5px; font-size: 18px;  margin: 3px 0px;}
}

.article-share ul li ~ li { margin-top: 5px; }
.article-share .like { border: 1px solid #ced4da; }
.article-share .like .title { display: block; height: 16px; font-size: 14px; text-align: center; color: #f85265; }
.article-share .like .count { font-size: 14px; line-height: 14px; color: #495057; display: block; }
.article-share .fb { background: url(https://kostat-sdg-kor.github.io/sdg-indicators/assets/img/shared/fb.png); background-size: 40px 40px; }
.article-share .tw { background: url(https://kostat-sdg-kor.github.io/sdg-indicators/assets/img/shared/tw.png); background-size: 40px 40px; }
.article-share .kt { background: url(https://kostat-sdg-kor.github.io/sdg-indicators/assets/img/shared/kt.png); background-size: 40px 40px; }
.article-share .bd { background: url(https://kostat-sdg-kor.github.io/sdg-indicators/assets/img/shared/bd.png); background-size: 40px 40px; }
.article-share .qt { background: url(https://kostat-sdg-kor.github.io/sdg-indicators/assets/img/shared/qt.png); background-size: 40px 40px; }
.article-share .li { background: url(https://kostat-sdg-kor.github.io/sdg-indicators/assets/img/shared/li.png); background-size: 40px 40px; }
.article-share .ks { background-color: #ffe23a; color: #fff; }
.article-share .bm { background-color: #286dc0; color: #fff; }
.article-share .uc { background-color: #6c757e; color: #fff; font-size: 12px; }
.article-share .qr { background-color: #000000; color: #ffffff; font-size: 24px; }
button,input,optgroup,select,textarea { font-family: inherit; font-size: inherit; font-weight:inherit; margin: 0;}
button { border: 0; padding: 0; background: none; cursor: pointer;}




@media print {
    a:after {
        content: "" !important;
    }
}
footer {
  height: auto;
  clear: left;
  color: white;
  background-color: #414042;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*!
 * @copyright &copy; Kartik Visweswaran, Krajee.com, 2014 - 2021
 * @version 1.4.8
 *
 * Bootstrap Popover Extended - Popover with modal behavior, styling enhancements and more.
 *
 * For more JQuery/Bootstrap plugins and demos visit http://plugins.krajee.com
 * For more Yii related demos visit http://demos.krajee.com
 */
/* Hide popover markup by default */
.popover-x {
    display: none;
    border: 1px solid #ccc;
    /*noinspection CssOverwrittenProperties*/
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.popover-x .popover-title {
    border-radius: 5px 5px 0 0;
}

/* Popover & arrow styles for BS4 */
.popover-x.top {
    margin-top: -10px;
}

.popover-x.right {
    margin-left: 10px;
}

.popover-x.bottom {
    margin-top: 10px;
}

.popover-x.left {
    margin-left: -10px;
}

.popover-x .arrow, .popover-x .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: solid transparent;
}

.popover-x .arrow {
    border-width: 11px;
}

.popover-x .arrow:after {
    content: "";
    border-width: 10px;
}

.popover-x.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, .25);
    border-bottom-width: 0;
}

.popover-x.top .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #fff;
    border-bottom-width: 0;
}

.popover-x.right .arrow {
    top: 50%;
    left: -0.98rem;
    margin-top: -0.5rem;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25);
    border-left-width: 0;
}

.popover-x.is-bs5.right .arrow {
    left: -0.68rem;
}

.popover-x.right .arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0;
}

.popover-x.bottom .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25);
}

.popover-x.bottom .arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
}

.popover-x.left .arrow {
    top: 50%;
    right: -0.98rem;
    margin-top: -0.5rem;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, .25);
}

.popover-x.is-bs5.left .arrow {
    right: -0.68rem;
}

.popover-x.left .arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #fff;
}

/* Sizes */
.popover-lg {
    min-width: 480px;
}

.popover-md {
    min-width: 350px;
}
.popover-x .close {
    line-height: 0;
    margin-top: 8px;
    cursor: pointer;
}

.popover-x.is-bs5 .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.popover-x.is-bs5 .close:hover {
    text-decoration: none;
}

.popover-x.top-right .arrow, .popover-x.bottom-right .arrow {
    left: auto;
    right: 0.85rem;
}

.popover-x.top-left .arrow, .popover-x.bottom-left .arrow {
    left: 0.85rem;
}

.popover-x.left-top .arrow, .popover-x.right-top .arrow {
    top: 16px;
}

.popover-x.left-bottom .arrow, .popover-x.right-bottom .arrow {
    top: auto;
    bottom: 10px;
}

.popover-default.bottom .arrow:after {
    border-bottom-color: #f7f7f7;
}

.popover-primary.bottom .arrow:after {
    border-bottom-color: #cce5ff;
}

.popover-success.bottom .arrow:after {
    border-bottom-color: #dff0d8;
}

.popover-danger.bottom .arrow:after {
    border-bottom-color: #f2dede;
}

.popover-warning.bottom .arrow:after {
    border-bottom-color: #fcf8e3;
}

.popover-info.bottom .arrow:after {
    border-bottom-color: #d9edf7;
}

.popover-default.left-top .arrow:after {
    border-left-color: #f7f7f7;
}

.popover-default.right-top .arrow:after {
    border-right-color: #f7f7f7;
}

.popover-primary.left-top .arrow:after {
    border-left-color: #cce5ff;
}

.popover-primary.right-top .arrow:after {
    border-right-color: #cce5ff;
}

.popover-success.left-top .arrow:after {
    border-left-color: #dff0d8;
}

.popover-success.right-top .arrow:after {
    border-right-color: #dff0d8;
}

.popover-danger.left-top .arrow:after {
    border-left-color: #f2dede;
}

.popover-danger.right-top .arrow:after {
    border-right-color: #f2dede;
}

.popover-warning.left-top .arrow:after {
    border-left-color: #fcf8e3;
}

.popover-warning.right-top .arrow:after {
    border-right-color: #fcf8e3;
}

.popover-info.left-top .arrow:after {
    border-left-color: #d1ecf1;
}

.popover-info.right-top .arrow:after {
    border-right-color: #d1ecf1;
}

.popover-default .popover-title {
    color: #333;
    background-color: #f7f7f7;
}

.popover-primary .popover-title {
    color: #004085;
    background-color: #cce5ff;
    border-bottom: 1px solid #b8daff;
}

.popover-success .popover-title {
    color: #3c763d;
    background-color: #dff0d8;
    border-bottom: 1px solid #d6e9c6;
}

.popover-info .popover-title {
    color: #0c5460;
    background-color: #d1ecf1;
    border-bottom: 1px solid #bee5eb;
}

.popover-warning .popover-title {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-bottom: 1px solid #faebcc;
}

.popover-danger .popover-title {
    color: #a94442;
    background-color: #f2dede;
    border-bottom: 1px solid #ebccd1;
}

.popover-footer {
    padding: 4px;
    background-color: #fbfbfb;
    text-align: right;
    border-top: 1px solid #ebebeb;
    border-radius: 0 0 5px 5px;
}

.popover-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 4px;
}

.popover-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

.popover-footer .btn-block + .btn-block {
    margin-left: 0;
}

.popover-x.has-footer.top .arrow:after, .has-footer.popover-x.top .arrow:after {
    border-top-color: #fbfbfb;
}

.popover-x.has-footer.left-bottom .arrow:after {
    border-top-color: transparent;
    border-left-color: #fbfbfb;
}

.popover-x.has-footer.right-bottom .arrow:after {
    border-top-color: transparent;
    border-right-color: #fbfbfb;
}

.popover-loading {
    padding: 30px;
    background: url('../img/loading.gif') center center;
}

/* hide modal backdrop */
.popover-x-body .modal-backdrop {
    opacity: 1;
    z-index: 1;
    background: transparent;
    display: none;
}

.popover-x-body.modal-open {
    overflow-y: auto!important;
}

@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-13,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-13{width:20%}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}.add{margin-right:80px;margin-left:80px;}}

@media (min-width:992px){.col-key{margin-left:20%;width:60%}}
@media (min-width:992px){.col-key2{margin-left:10%;width:80%}}
#main-content .goal-tiles .no-gutters .goal-titles img { box-shadow: 5px 5px 5px 0px rgba(5, 5, 5, 0.3); }
.sttl { margin-left:30px; float:left; }
.title2 { color:navy; font-size:20pt; font-weight:600;}

.contents_box { padding : 0 5%; line-height: 200%; }
.title { color:navy; font-size:18pt; font-weight:600;}
.contents { font-size:12pt; }
	
.img_div { text-align: center; }
.img_div { line-height: 1.6em; }
.img_div img { width: 90%; }
	
.suffle_div { width: 100%;  margin-bottom:50px;}
.suffle_div p { width: 100%; font-size:12pt;  }
.suffle_div img { width:40%; float: right; }
