<div class="top_div">
	
   <div class="item">
      <div>
         <a href="https://kostat-gi.github.io/site/assets/img/report/2021년_수도권_광역지표_개발_연구_보고서.pdf" target="_blank">
            <img src="https://kostat-gi.github.io/site/assets/img/report/2021_report.jpg" alt="1"/>
         </a>
      </div>
      <div>
         <p> 2021년 수도권 광역지표 개발<br>연구 보고서<br></p>
      </div>
   </div>
   
   <div class="item">
      <div>
          <a href="https://kostat-gi.github.io/site/assets/img/report/2020년_수도권_광역지표_개발_연구_보고서.pdf" target="_blank">
            <img src="https://kostat-gi.github.io/site/assets/img/report/2020_report.jpg" alt="2"/> 
          </a>
      </div>
      <div>
          <p> 2020년 수도권 광역지표 개발<br>연구 보고서<br></p>
      </div>
   </div>

   <div class="item">
      <div>
         <a href="https://kostat-sdg-kor.github.io/sdg-indicators/public/report/un-report2021.pdf">
             <img src="https://kostat-sdg-kor.github.io/sdg-indicators/public/report/un-2021.png" alt="3"/>    
          </a>
      </div>
      <div>
         <p>The Sustainable Development Goals Report 2021<br></p>
      </div>
   </div>

   <div class="item">
      <div>
          <a href="https://kostat-sdg-kor.github.io/sdg-indicators/public/report/15.pdf">
             <img src="https://kostat-sdg-kor.github.io/sdg-indicators/public/report/15.png" alt="4"/>
         </a>
      </div>
      <div>
        <p>SDGs 지표 톺아보기<br></p>
      </div>
   </div>

</div>
