<!-- _layouts/frontpage.html //-->

{% include head.html %}
{% include header.html %}

<br><h1 style="text-align: center;font-family: 'Nanum Gothic';font-size:50px;font-weight:bolder;">
{{ page.t.general.goals_title }}
</h1><br><br>

<div id="main-content" class="container" role="main">

    <div class="goal-tiles add">
        <div class="row no-gutters">
            <div class="col-x col-key goal-tile">
                <a href="https://dbox75.github.io/site_test/key/">
                    <img src="{{ site.goal_image_base }}/{{ page.language }}/key02.png" id="goal-1" alt="핵심 지표" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
                </a>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xs-4 col-md-13 goal-tile">
                <img src="{{ site.goal_image_base }}/{{ page.language }}/i01.png" id="goal-1" alt="경쟁력 지표" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
            </div>            
            
            
            {% for goal in page.goals %}
            <div class="col-xs-4 col-md-13 goal-tile">
                <a href="{{ goal.url }}">
                    <img src="{{ goal.icon }}" id="goal-{{ goal.number }}" alt="{{ goal.short | escape }} - {{ page.t.general.goal }} {{ goal.number }}" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
                </a>
            </div>
            
            {% if goal.number == "4" %}
        </div>
        <div class="row no-gutters">
            <div class="col-xs-4 col-md-13 goal-tile">
                <img src="{{ site.goal_image_base }}/{{ page.language }}/i02.png" id="goal-1" alt="발전 지표" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
            </div>    
            {% endif %}
            
            {% if goal.number == "7" %}
        </div>
        <div class="row no-gutters">
            <div class="col-xs-4 col-md-13 goal-tile">
                <img src="{{ site.goal_image_base }}/{{ page.language }}/i03.png" id="goal-1" alt="생활 지표" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
            </div>    
            {% endif %}

        
            
            {% endfor %}
               
            {% comment %}
            If there were exactly 17 goals, "pad" it with 1 more, to make it come
            out more symmetrically.
            {% endcomment %}
                    
            
            {% if page.goals.size == 17 %}
            <div class="col-xs-4 col-md-2 goal-tile">
                <img src="{{ site.goal_image_base }}/{{ page.language }}/18.png" id="goal-18" alt="The Global Goals for Sustainable Development" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
            </div>
            {% endif %}
        </div>
    </div>
    
</div>

{% include footer.html %}
