<!-- _layouts/frontpage.html //-->

{% include head.html %}
{% include header.html %}

<!-- <br><h1 style="text-align: center;font-family: 'Nanum Gothic';font-size:50px;font-weight:bolder;"> -->
<!-- {{ page.t.general.goals_title }} -->
<!-- </h1><br><br> -->

<div id="main-content" class="container" role="main">

    <div class="goal-tiles add">
        <div class="row no-gutters">
            <div class="col-xs-12 col-key2 goal-tile"><span align="center"><h2>※ 현재 테스트 중인 사이트입니다.</h2></span></div>
            <div class="col-xs-12 col-key2 goal-tile">
                <img src="{{ site.goal_image_base }}/{{ page.language }}/main_title.png" id="goal-18" alt="{{ page.t.general.goals_title }}" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
            </div>
        </div>        

        <div class="row no-gutters">
            <div class="col-xs-12 col-key goal-tile">
                <a href="https://dbox75.github.io/site_test/key/">
                    <img src="{{ site.goal_image_base }}/{{ page.language }}/key.png" id="goal-1" alt="{{ page.t.general.semi_goal_T }}" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
                </a>
            </div>
        </div>
        <br>
        {{ page.t.frontpage.instructions }}<br><br>
        <div class="row no-gutters">
            <div class="col-xs-4 col-md-13 goal-titles">
                <img src="{{ site.goal_image_base }}/{{ page.language }}/i01.png" id="goal-18" alt="{{ page.t.general.semi_goal_A }}" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
            </div>            
            
            
            {% for goal in page.goals %}
            <div class="col-xs-4 col-md-13 goal-tile">
                <a href="{{ goal.url }}">
                    <img src="{{ goal.icon }}" id="goal-{{ goal.number }}" alt="{{ goal.short | escape }} - {{ page.t.general.goal }} {{ goal.number }}" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
                </a>
            </div>
            
            {% if goal.number == "4" %}
        </div>
        <div class="row no-gutters">
            <div class="col-xs-4 col-md-13 goal-titles">
                <img src="{{ site.goal_image_base }}/{{ page.language }}/i02.png" id="goal-18" alt="{{ page.t.general.semi_goal_B }}" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
            </div>    
            {% endif %}
            
            {% if goal.number == "7" %}
        </div>
        <div class="row no-gutters">
            <div class="col-xs-4 col-md-13 goal-titles">
                <img src="{{ site.goal_image_base }}/{{ page.language }}/i03.png" id="goal-18" alt="{{ page.t.general.semi_goal_C }}" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
            </div>    
            {% endif %}
        
            
            {% endfor %}
               
            {% comment %}
            If there were exactly 17 goals, "pad" it with 1 more, to make it come
            out more symmetrically.
            {% endcomment %}
                    
            
            {% if page.goals.size == 17 %}
            <div class="col-xs-4 col-md-2 goal-tile">
                <img src="{{ site.goal_image_base }}/{{ page.language }}/18.png" id="goal-18" alt="The Global Goals for Sustainable Development" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
            </div>
            {% endif %}
        </div>
    </div>
    
</div>

<!-- POPUP -->
<div id="divpop" style="position:absolute;left:5px;top:5px;z-index:200;visibility:hidden;">
<table width=300 height=300 cellpadding=2 cellspacing=0>
  <tr>
    <td style="border:1px #666666 solid" height=260 align=center bgcolor=white colspan="2">
       <img src="/site_test/assets/img/popup.png" alt="2022년 수도권 광역지표 작성결과 보고서 바로가기" />
    </td>
  </tr>
  <tr>
    <form name="notice_form">
    <td align=left bgcolor=white>
        <input type="checkbox" name="chkbox" value="checkbox"> 오늘 하루 이 창을 열지 않음
    </td>
    <td align=right bgcolor=white>
        <a href="javascript:closeWin();"><B>[닫기]</B></a>
    </td>
  </tr>
  </form>
</table>
</div> 
<script language="Javascript">
cookiedata = document.cookie;   
if ( cookiedata.indexOf("maindiv=done") < 0 ){     
    document.all['divpop'].style.visibility = "visible";
    }
    else {
        document.all['divpop'].style.visibility = "hidden";
}
</script>

{% include footer.html %}
