{% include head.html %}
{% include header.html %}
<div id="main-content" class="container" role="main">

  <br>

    <div class="goal-tiles">
        <div class="row no-gutters">
            {% for goal in page.goals %}
            <div class="col-xs-4 col-md-2 goal-tile">
                <a href="{{ goal.url }}">
                    <img src="{{ goal.icon }}" id="goal-{{ goal.number }}" alt="{{ goal.short | escape }} - {{ page.t.general.goal }} {{ goal.number }}" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
                </a>
            </div>
            {% endfor %}
            {% comment %}
            If there were exactly 17 goals, "pad" it with 1 more, to make it come
            out more symmetrically.
            {% endcomment %}
            {% if page.goals.size == 17 %}
            <div class="col-xs-4 col-md-2 goal-tile">
                <img src="{{ site.goal_image_base }}/{{ page.language }}/18.png" id="goal-18" alt="The Global Goals for Sustainable Development" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
            </div>
            {% endif %}
        </div>
    </div>
  
<div class="zip-download-container" style="float:left;">
    <a href="{{ page.remote_data_prefix }}/zip/{{ site.data.zip.filename }}"
       class="btn btn-primary btn-download" aria-describedby="zip-download-info">
        {{ page.t.frontpage.download_all }}
    </a>
    <div id="zip-download-info">
        {{ page.t.frontpage.zip_file }} - {{ site.data.zip.size_human }}
        {% if site.data.zip.timestamp %}
            <br>
            {{ page.t.metadata_fields.national_data_update_url }} - {{ site.data.zip.timestamp | t_date: 'standard' }}
        {% endif %}
    </div>
</div>
<div class="zip-download-container" style="float:left; padding: 0px 100px;">
    <a href="{{ page.t.frontpage.indicators_download_url }}" class="btn btn-primary btn-download" aria-describedby="zip-download-info">
        {{ page.t.frontpage.indicators_download }}
    </a>
</div> 

</div>
{% include footer.html %}
