<!-- _layouts/indicator.html //-->

{% include head.html %}
{% include header.html %}

{% include components/indicator/fields-template.html %}
{% include components/indicator/units-template.html %}
{% include components/indicator/series-template.html %}
{% include multilingual-js.html key="indicator" %}
{% include multilingual-js.html key="data" %}

<!-- SNS 공유용 주소 연결 용 -->
<script type="text/javascript" async>

var url_default_ks = "https://story.kakao.com/share?url=";
var url_default_fb = "https://www.facebook.com/sharer/sharer.php?u=";
var url_default_tw_txt = "https://twitter.com/intent/tweet?text=";
var url_default_tw_url = "&url=";
var url_default_band = "http://band.us/plugin/share?body=";
var url_default_li = "http://www.linkedin.com/cws/share?url=";
var url_route_band = "&route=";
var url_default_naver = "http://share.naver.com/web/shareView.nhn?url=";
var title_default_naver = "&title=";

var url_this_page = location.href;
var title_this_page = document.title;


var url_combine_ks = url_default_ks + url_this_page;
var url_combine_fb = url_default_fb + url_this_page;
var url_combine_tw = url_default_tw_txt + document.title + 
url_default_tw_url + url_this_page;
var url_combine_li = url_default_li + url_this_page;
var url_combine_band = url_default_band + encodeURI(url_this_page)+
'%0A' + encodeURI(title_this_page)+'%0A' + '&route=tistory.com';
var url_combine_naver = url_default_naver + encodeURI(url_this_page) + 
title_default_naver + encodeURI(title_this_page);
	
function addFavorite(){
	var agent = navigator.userAgent.toLowerCase();
	if (agent.indexOf("chrome") != -1) {
		alert('Ctrl+D키를 눌러 북마크를 등록해주세요');
	}else if(window.sidebar){
		window.sidebar.addpanel(title_this_page, url_this_page,"");
	}else if(agent.indexOf("opera") != -1){	 
		var elem = document.createElement('a')
		elem.setAttribute('href', url_this_page);
		elem.setAttribute('title', title_this_page);
		elem.setAttribute('rel','sidebar');
		elem.click();
	}else{
		{window.external.AddFavorite(url_this_page, title_this_page);}
	}
}

function copyUrl(){
	var agent = navigator.userAgent.toLowerCase();
	if(agent.indexOf("safari") != -1 || agent.indexOf("opera") != -1 || agent.indexOf("firefox") != -1){
		prompt("이 글의 주소입니다. Ctrl+C를 눌러 클립보드로 복사하세요",url_this_page);
	}else{
		window.clipboardData.setData('Text', url_this_page);
		alert("복사되었습니다.\n Ctrl+V를 눌러 붙여넣으세요");
	}

}

  function getQrCode(){
  return '<img class="img-fluid" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data='+encodeURIComponent(window.location.href) + '" />';
}

</script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script>
		    Kakao.init("b071fc4b1abb50ec3e523c56ff226378");
    function sendKakao() {
	          Kakao.Link.sendCustom({
			          templateId: 61021,
			          templateArgs: {
					            title: title_this_page,
					            description: title_this_page,
					            url : window.location.pathname
					          }
			        });
	        }
	</script>

<div class="container">
  <!--{% include components/indicator/breadcrumbs.html %}-->
  {% if site.create_indicators.previous_next_links %}
    {% include components/previous-next-links.html previous_label=page.t.indicator.previous next_label=page.t.indicator.next %}
  {% endif %}
</div>
{% include components/indicator/header.html %}
<div id="main-content" class="container goal-{{ page.goal.number }}" role="main">
	{% include components/indicator/breadcrumbs.html depth_level=3 %}
	<div class="text-right"> 
<div class="btn-group" role="group">
<button class="btn btn-default" onclick="zoomIn();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
<button class="btn btn-default" onclick="zoomOut();"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
<button class="btn btn-default" onclick="window.print();"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></button>
		</div>
	</div>
  {% include components/indicator/data-notice.html %}
  {% include components/indicator/indicator-available.html %}
  {% include components/indicator/indicator-content.html %}
  {% include components/indicator/indicator-main.html %}

	
<!-- SNS 공유 버튼 -->
<div class="article-share">
	<button class="fb" title="{{ page.t.indicator.share_facebook }}" type="button" id="shareFacebook" onclick="window.open(url_combine_fb, '', 'scrollbars=no, width=600,height=600'); return false;"><span class="sr-only">페이스북</span></button>
	<button class="tw" title="{{ page.t.indicator.share_twitter }}" type="button" onclick="window.open(url_combine_tw, '', 'scrollbars=no, width=600,height=600'); return false;"><span class="sr-only">트위터</span></button>
	<button class="li" title="{{ page.t.indicator.share_linkedin }}" type="button" onclick="window.open(url_combine_li, '', 'scrollbars=no, width=600,height=600'); return false;"><span class="sr-only"></span></button>
	<button class="bd" title="{{ page.t.indicator.share_band }}" type="button" onclick="window.open(url_combine_band, '', 'scrollbars=no, width=584,height=635'); return false;"><span class="sr-only">밴드</span></button>
	<button class="kt" title="{{ page.t.indicator.share_kakaotalk }}" id="kakao-link-btn" type="button" onclick="sendKakao();"><span class="sr-only">카카오톡</span></button>
	<!--<button class="ks" title="카카오스토리 공유 새창으로 열림" type="button" title="카카오스토리에 저장하기" onclick="window.open(url_combine_ks, '', 'scrollbars=no, width=600,height=600'); return false;"><span class="sr-only">카카오스토리</span></button>-->
	<!--<button class="bm" title="즐겨찾기" type="button" onclick="addFavorite();"><span class="sr-only">즐겨찾기</span></button>-->
	<!--<button class="uc" title="URL 복사" type="button" onclick="copyUrl();"><span class="sr-only">URL 복사</span></button>-->
	<button class="qr" title="{{ page.t.indicator.share_qrcode }}" type="button"  data-toggle="popover-x" data-target="#qrCode" data-trigger="click" data-placement="bottom bottom-left" data-container="body"><i class="xi-qr-code"></i><span class="sr-only">QR코드 팝업</span></button>
	<button class="qt" title="{{ page.t.indicator.share_citation }}" type="button"  data-toggle="popover-x" data-target="#quote" data-trigger="click" data-placement="bottom bottom-left" data-container="body"><span class="sr-only">인용 팝업</span></button>
</div>
	
</div>



<div id="qrCode" class="popover ppopover-info">
  <div class="arrow"></div>
  <h3 class="popover-title">
    <span class="close pull-right" data-dismiss="popover-x">&times;</span>
    QR({{ page.indicator.slug }})
  </h3>
  <div class="popover-content">
    	<script>
		document.write(getQrCode());
	</script>
  </div>
</div>
<div id="quote" class="popover ppopover-info">
  <div class="arrow"></div>
  <h3 class="popover-title">
    <span class="close pull-right" data-dismiss="popover-x">&times;</span>
    {{ page.t.indicator.share_citation }}
  </h3>
  <div class="popover-content">
SDGs 데이터 플랫폼(kostat.go.kr/sdg) {{ page.indicator.slug }} (<span id="date"></span>)
  </div>
</div>
<script>	
var today = new Date();
document.getElementById('date').innerText = today.toLocaleDateString();
</script>
{% include footer.html %}
