<!-- "_layouts/reportingstatus.html" 시작 //-->

{% include head.html %}
{% include header.html %}


<div id="main-content" class="container reportingstatus" role="main">

  {% include components/reporting-status-introduction.html %}

  {% if show_tabs %}
  <ul class="nav nav-tabs reporting-status-view" role="tablist">
    <li role="presentation" class="nav-item active">
      <a class="nav-link" data-toggle="tab" href="#goalsview" aria-controls="goals" role="tab" {% include autotrack.html preset="tab_reporting_status_goals" category="Tab change" action="Change reporting status view" label="Change reporting status view to goals" %}>{{ page.t.status.reporting_status }}</a>
    </li>

  </ul>
  {% endif %}


  {% if extra_fields %}
    {%- for extra_field in reporting_data.extra_fields -%}
    {% assign extra_field_name = extra_field[0] %}
    <div role="tabpanel" class="tab-pane" id="{{ extra_field_name }}view" data-extra-field="true">
      {% include components/reportingstatus/reporting-status-overall.html overall=reporting_data.overall title=page.t.status.overall_reporting_status %}
      {% include components/reportingstatus/reporting-status-by-field.html extra_field=extra_field title=page.t.status.status_by_field %}
    </div>
    {%- endfor -%}
  {% endif %}

  {% if site.reporting_status.disaggregation_tabs and disagg_data %}
    <div role="tabpanel" class="tab-pane" id="disaggregationsview">
      {% include components/reportingstatus/reporting-status-overall.html overall=disagg_data.overall title=page.t.status.disaggregation_status_overall %}
      {% include components/reportingstatus/reporting-status-by-goal.html goals=disagg_data.goals title=page.t.status.status_by_goal %}
    </div>

    {% if extra_fields %}
      {%- for extra_field in disagg_data.extra_fields -%}
      {% assign extra_field_name = extra_field[0] %}
      <div role="tabpanel" class="tab-pane" id="{{ extra_field_name }}-disaggregationsview" data-extra-field="true">
        {% include components/reportingstatus/reporting-status-overall.html overall=disagg_data.overall title=page.t.status.disaggregation_status_overall %}
        {% include components/reportingstatus/reporting-status-by-field.html extra_field=extra_field title=page.t.status.disaggregation_status_by_field %}
      </div>
      {%- endfor -%}
    {% endif %}
  {% endif %}

  {% if show_tabs %}
  </div>
  {% endif %}

  <!--{{ content }}-->
 * {{ page.t.general.reporting_status_comment }}
</div>
{% include footer.html %}

<!-- "_layouts/reportingstatus.html" 끝 //-->
